java/config/config-service/src/main/resources/wsdl/ConfigurationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. -->
<definitions targetNamespace="http://nhind.org/config" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nhind.org/config" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://nhind.org/config" schemaLocation="ConfigurationService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAddresss">
    <part name="parameters" element="tns:getAddresss"/>
  </message>
  <message name="getAddresssResponse">
    <part name="parameters" element="tns:getAddresssResponse"/>
  </message>
  <message name="ConfigurationServiceException">
    <part name="fault" element="tns:ConfigurationServiceException"/>
  </message>
  <message name="addAddress">
    <part name="parameters" element="tns:addAddress"/>
  </message>
  <message name="addAddressResponse">
    <part name="parameters" element="tns:addAddressResponse"/>
  </message>
  <message name="updateAddress">
    <part name="parameters" element="tns:updateAddress"/>
  </message>
  <message name="updateAddressResponse">
    <part name="parameters" element="tns:updateAddressResponse"/>
  </message>
  <message name="getAddressCount">
    <part name="parameters" element="tns:getAddressCount"/>
  </message>
  <message name="getAddressCountResponse">
    <part name="parameters" element="tns:getAddressCountResponse"/>
  </message>
  <message name="removeAddress">
    <part name="parameters" element="tns:removeAddress"/>
  </message>
  <message name="removeAddressResponse">
    <part name="parameters" element="tns:removeAddressResponse"/>
  </message>
  <message name="listAddresss">
    <part name="parameters" element="tns:listAddresss"/>
  </message>
  <message name="listAddresssResponse">
    <part name="parameters" element="tns:listAddresssResponse"/>
  </message>
  <message name="addDomain">
    <part name="parameters" element="tns:addDomain"/>
  </message>
  <message name="addDomainResponse">
    <part name="parameters" element="tns:addDomainResponse"/>
  </message>
  <message name="updateDomain">
    <part name="parameters" element="tns:updateDomain"/>
  </message>
  <message name="updateDomainResponse">
    <part name="parameters" element="tns:updateDomainResponse"/>
  </message>
  <message name="getDomainCount">
    <part name="parameters" element="tns:getDomainCount"/>
  </message>
  <message name="getDomainCountResponse">
    <part name="parameters" element="tns:getDomainCountResponse"/>
  </message>
  <message name="getDomains">
    <part name="parameters" element="tns:getDomains"/>
  </message>
  <message name="getDomainsResponse">
    <part name="parameters" element="tns:getDomainsResponse"/>
  </message>
  <message name="removeDomain">
    <part name="parameters" element="tns:removeDomain"/>
  </message>
  <message name="removeDomainResponse">
    <part name="parameters" element="tns:removeDomainResponse"/>
  </message>
  <message name="removeDomainById">
    <part name="parameters" element="tns:removeDomainById"/>
  </message>
  <message name="removeDomainByIdResponse">
    <part name="parameters" element="tns:removeDomainByIdResponse"/>
  </message>
  <message name="listDomains">
    <part name="parameters" element="tns:listDomains"/>
  </message>
  <message name="listDomainsResponse">
    <part name="parameters" element="tns:listDomainsResponse"/>
  </message>
  <message name="searchDomain">
    <part name="parameters" element="tns:searchDomain"/>
  </message>
  <message name="searchDomainResponse">
    <part name="parameters" element="tns:searchDomainResponse"/>
  </message>
  <message name="getDomain">
    <part name="parameters" element="tns:getDomain"/>
  </message>
  <message name="getDomainResponse">
    <part name="parameters" element="tns:getDomainResponse"/>
  </message>
  <message name="contains">
    <part name="parameters" element="tns:contains"/>
  </message>
  <message name="containsResponse">
    <part name="parameters" element="tns:containsResponse"/>
  </message>
  <message name="getCertificates">
    <part name="parameters" element="tns:getCertificates"/>
  </message>
  <message name="getCertificatesResponse">
    <part name="parameters" element="tns:getCertificatesResponse"/>
  </message>
  <message name="addCertificates">
    <part name="parameters" element="tns:addCertificates"/>
  </message>
  <message name="addCertificatesResponse">
    <part name="parameters" element="tns:addCertificatesResponse"/>
  </message>
  <message name="getCertificate">
    <part name="parameters" element="tns:getCertificate"/>
  </message>
  <message name="getCertificateResponse">
    <part name="parameters" element="tns:getCertificateResponse"/>
  </message>
  <message name="listCertificates">
    <part name="parameters" element="tns:listCertificates"/>
  </message>
  <message name="listCertificatesResponse">
    <part name="parameters" element="tns:listCertificatesResponse"/>
  </message>
  <message name="setCertificateStatus">
    <part name="parameters" element="tns:setCertificateStatus"/>
  </message>
  <message name="setCertificateStatusResponse">
    <part name="parameters" element="tns:setCertificateStatusResponse"/>
  </message>
  <message name="removeCertificates">
    <part name="parameters" element="tns:removeCertificates"/>
  </message>
  <message name="removeCertificatesResponse">
    <part name="parameters" element="tns:removeCertificatesResponse"/>
  </message>
  <message name="getCertificatesForOwner">
    <part name="parameters" element="tns:getCertificatesForOwner"/>
  </message>
  <message name="getCertificatesForOwnerResponse">
    <part name="parameters" element="tns:getCertificatesForOwnerResponse"/>
  </message>
  <message name="setCertificateStatusForOwner">
    <part name="parameters" element="tns:setCertificateStatusForOwner"/>
  </message>
  <message name="setCertificateStatusForOwnerResponse">
    <part name="parameters" element="tns:setCertificateStatusForOwnerResponse"/>
  </message>
  <message name="removeCertificatesForOwner">
    <part name="parameters" element="tns:removeCertificatesForOwner"/>
  </message>
  <message name="removeCertificatesForOwnerResponse">
    <part name="parameters" element="tns:removeCertificatesForOwnerResponse"/>
  </message>
  <message name="addAnchor">
    <part name="parameters" element="tns:addAnchor"/>
  </message>
  <message name="addAnchorResponse">
    <part name="parameters" element="tns:addAnchorResponse"/>
  </message>
  <message name="removeAnchors">
    <part name="parameters" element="tns:removeAnchors"/>
  </message>
  <message name="removeAnchorsResponse">
    <part name="parameters" element="tns:removeAnchorsResponse"/>
  </message>
  <message name="getAnchor">
    <part name="parameters" element="tns:getAnchor"/>
  </message>
  <message name="getAnchorResponse">
    <part name="parameters" element="tns:getAnchorResponse"/>
  </message>
  <message name="getAnchors">
    <part name="parameters" element="tns:getAnchors"/>
  </message>
  <message name="getAnchorsResponse">
    <part name="parameters" element="tns:getAnchorsResponse"/>
  </message>
  <message name="listAnchors">
    <part name="parameters" element="tns:listAnchors"/>
  </message>
  <message name="listAnchorsResponse">
    <part name="parameters" element="tns:listAnchorsResponse"/>
  </message>
  <message name="setAnchorStatusForOwner">
    <part name="parameters" element="tns:setAnchorStatusForOwner"/>
  </message>
  <message name="setAnchorStatusForOwnerResponse">
    <part name="parameters" element="tns:setAnchorStatusForOwnerResponse"/>
  </message>
  <message name="removeAnchorsForOwner">
    <part name="parameters" element="tns:removeAnchorsForOwner"/>
  </message>
  <message name="removeAnchorsForOwnerResponse">
    <part name="parameters" element="tns:removeAnchorsForOwnerResponse"/>
  </message>
  <message name="getAnchorsForOwner">
    <part name="parameters" element="tns:getAnchorsForOwner"/>
  </message>
  <message name="getAnchorsForOwnerResponse">
    <part name="parameters" element="tns:getAnchorsForOwnerResponse"/>
  </message>
  <message name="getIncomingAnchors">
    <part name="parameters" element="tns:getIncomingAnchors"/>
  </message>
  <message name="getIncomingAnchorsResponse">
    <part name="parameters" element="tns:getIncomingAnchorsResponse"/>
  </message>
  <message name="getOutgoingAnchors">
    <part name="parameters" element="tns:getOutgoingAnchors"/>
  </message>
  <message name="getOutgoingAnchorsResponse">
    <part name="parameters" element="tns:getOutgoingAnchorsResponse"/>
  </message>
  <message name="addSetting">
    <part name="parameters" element="tns:addSetting"/>
  </message>
  <message name="addSettingResponse">
    <part name="parameters" element="tns:addSettingResponse"/>
  </message>
  <message name="getAllSettings">
    <part name="parameters" element="tns:getAllSettings"/>
  </message>
  <message name="getAllSettingsResponse">
    <part name="parameters" element="tns:getAllSettingsResponse"/>
  </message>
  <message name="getSettingByName">
    <part name="parameters" element="tns:getSettingByName"/>
  </message>
  <message name="getSettingByNameResponse">
    <part name="parameters" element="tns:getSettingByNameResponse"/>
  </message>
  <message name="updateSetting">
    <part name="parameters" element="tns:updateSetting"/>
  </message>
  <message name="updateSettingResponse">
    <part name="parameters" element="tns:updateSettingResponse"/>
  </message>
  <message name="deleteSetting">
    <part name="parameters" element="tns:deleteSetting"/>
  </message>
  <message name="deleteSettingResponse">
    <part name="parameters" element="tns:deleteSettingResponse"/>
  </message>
  <message name="getSettingsByNames">
    <part name="parameters" element="tns:getSettingsByNames"/>
  </message>
  <message name="getSettingsByNamesResponse">
    <part name="parameters" element="tns:getSettingsByNamesResponse"/>
  </message>
  <message name="addDNS">
    <part name="parameters" element="tns:addDNS"/>
  </message>
  <message name="addDNSResponse">
    <part name="parameters" element="tns:addDNSResponse"/>
  </message>
  <message name="getDNSByName">
    <part name="parameters" element="tns:getDNSByName"/>
  </message>
  <message name="getDNSByNameResponse">
    <part name="parameters" element="tns:getDNSByNameResponse"/>
  </message>
  <message name="getDNSByRecordId">
    <part name="parameters" element="tns:getDNSByRecordId"/>
  </message>
  <message name="getDNSByRecordIdResponse">
    <part name="parameters" element="tns:getDNSByRecordIdResponse"/>
  </message>
  <message name="getDNSByType">
    <part name="parameters" element="tns:getDNSByType"/>
  </message>
  <message name="getDNSByTypeResponse">
    <part name="parameters" element="tns:getDNSByTypeResponse"/>
  </message>
  <message name="getDNSCount">
    <part name="parameters" element="tns:getDNSCount"/>
  </message>
  <message name="getDNSCountResponse">
    <part name="parameters" element="tns:getDNSCountResponse"/>
  </message>
  <message name="removeDNS">
    <part name="parameters" element="tns:removeDNS"/>
  </message>
  <message name="removeDNSResponse">
    <part name="parameters" element="tns:removeDNSResponse"/>
  </message>
  <message name="updateDNS">
    <part name="parameters" element="tns:updateDNS"/>
  </message>
  <message name="updateDNSResponse">
    <part name="parameters" element="tns:updateDNSResponse"/>
  </message>
  <message name="getDNSByNameAndType">
    <part name="parameters" element="tns:getDNSByNameAndType"/>
  </message>
  <message name="getDNSByNameAndTypeResponse">
    <part name="parameters" element="tns:getDNSByNameAndTypeResponse"/>
  </message>
  <message name="getDNSByRecordIds">
    <part name="parameters" element="tns:getDNSByRecordIds"/>
  </message>
  <message name="getDNSByRecordIdsResponse">
    <part name="parameters" element="tns:getDNSByRecordIdsResponse"/>
  </message>
  <message name="removeDNSByRecordId">
    <part name="parameters" element="tns:removeDNSByRecordId"/>
  </message>
  <message name="removeDNSByRecordIdResponse">
    <part name="parameters" element="tns:removeDNSByRecordIdResponse"/>
  </message>
  <message name="removeDNSByRecordIds">
    <part name="parameters" element="tns:removeDNSByRecordIds"/>
  </message>
  <message name="removeDNSByRecordIdsResponse">
    <part name="parameters" element="tns:removeDNSByRecordIdsResponse"/>
  </message>
  <message name="updateTrustBundleSigningCertificate">
    <part name="parameters" element="tns:updateTrustBundleSigningCertificate"/>
  </message>
  <message name="updateTrustBundleSigningCertificateResponse">
    <part name="parameters" element="tns:updateTrustBundleSigningCertificateResponse"/>
  </message>
  <message name="disassociateTrustBundleFromDomain">
    <part name="parameters" element="tns:disassociateTrustBundleFromDomain"/>
  </message>
  <message name="disassociateTrustBundleFromDomainResponse">
    <part name="parameters" element="tns:disassociateTrustBundleFromDomainResponse"/>
  </message>
  <message name="disassociateTrustBundlesFromDomain">
    <part name="parameters" element="tns:disassociateTrustBundlesFromDomain"/>
  </message>
  <message name="disassociateTrustBundlesFromDomainResponse">
    <part name="parameters" element="tns:disassociateTrustBundlesFromDomainResponse"/>
  </message>
  <message name="disassociateTrustBundleFromDomains">
    <part name="parameters" element="tns:disassociateTrustBundleFromDomains"/>
  </message>
  <message name="disassociateTrustBundleFromDomainsResponse">
    <part name="parameters" element="tns:disassociateTrustBundleFromDomainsResponse"/>
  </message>
  <message name="getTrustBundles">
    <part name="parameters" element="tns:getTrustBundles"/>
  </message>
  <message name="getTrustBundlesResponse">
    <part name="parameters" element="tns:getTrustBundlesResponse"/>
  </message>
  <message name="addTrustBundle">
    <part name="parameters" element="tns:addTrustBundle"/>
  </message>
  <message name="addTrustBundleResponse">
    <part name="parameters" element="tns:addTrustBundleResponse"/>
  </message>
  <message name="getTrustBundleByName">
    <part name="parameters" element="tns:getTrustBundleByName"/>
  </message>
  <message name="getTrustBundleByNameResponse">
    <part name="parameters" element="tns:getTrustBundleByNameResponse"/>
  </message>
  <message name="getTrustBundleById">
    <part name="parameters" element="tns:getTrustBundleById"/>
  </message>
  <message name="getTrustBundleByIdResponse">
    <part name="parameters" element="tns:getTrustBundleByIdResponse"/>
  </message>
  <message name="refreshTrustBundle">
    <part name="parameters" element="tns:refreshTrustBundle"/>
  </message>
  <message name="refreshTrustBundleResponse">
    <part name="parameters" element="tns:refreshTrustBundleResponse"/>
  </message>
  <message name="updateLastUpdateError">
    <part name="parameters" element="tns:updateLastUpdateError"/>
  </message>
  <message name="updateLastUpdateErrorResponse">
    <part name="parameters" element="tns:updateLastUpdateErrorResponse"/>
  </message>
  <message name="deleteTrustBundles">
    <part name="parameters" element="tns:deleteTrustBundles"/>
  </message>
  <message name="deleteTrustBundlesResponse">
    <part name="parameters" element="tns:deleteTrustBundlesResponse"/>
  </message>
  <message name="getTrustBundlesByDomain">
    <part name="parameters" element="tns:getTrustBundlesByDomain"/>
  </message>
  <message name="getTrustBundlesByDomainResponse">
    <part name="parameters" element="tns:getTrustBundlesByDomainResponse"/>
  </message>
  <message name="updateTrustBundleAttributes">
    <part name="parameters" element="tns:updateTrustBundleAttributes"/>
  </message>
  <message name="updateTrustBundleAttributesResponse">
    <part name="parameters" element="tns:updateTrustBundleAttributesResponse"/>
  </message>
  <message name="associateTrustBundleToDomain">
    <part name="parameters" element="tns:associateTrustBundleToDomain"/>
  </message>
  <message name="associateTrustBundleToDomainResponse">
    <part name="parameters" element="tns:associateTrustBundleToDomainResponse"/>
  </message>
  <message name="disassociatePolicyGroupFromDomain">
    <part name="parameters" element="tns:disassociatePolicyGroupFromDomain"/>
  </message>
  <message name="disassociatePolicyGroupFromDomainResponse">
    <part name="parameters" element="tns:disassociatePolicyGroupFromDomainResponse"/>
  </message>
  <message name="disassociatePolicyGroupsFromDomain">
    <part name="parameters" element="tns:disassociatePolicyGroupsFromDomain"/>
  </message>
  <message name="disassociatePolicyGroupsFromDomainResponse">
    <part name="parameters" element="tns:disassociatePolicyGroupsFromDomainResponse"/>
  </message>
  <message name="disassociatePolicyGroupFromDomains">
    <part name="parameters" element="tns:disassociatePolicyGroupFromDomains"/>
  </message>
  <message name="disassociatePolicyGroupFromDomainsResponse">
    <part name="parameters" element="tns:disassociatePolicyGroupFromDomainsResponse"/>
  </message>
  <message name="getPolicies">
    <part name="parameters" element="tns:getPolicies"/>
  </message>
  <message name="getPoliciesResponse">
    <part name="parameters" element="tns:getPoliciesResponse"/>
  </message>
  <message name="getPolicyByName">
    <part name="parameters" element="tns:getPolicyByName"/>
  </message>
  <message name="getPolicyByNameResponse">
    <part name="parameters" element="tns:getPolicyByNameResponse"/>
  </message>
  <message name="getPolicyById">
    <part name="parameters" element="tns:getPolicyById"/>
  </message>
  <message name="getPolicyByIdResponse">
    <part name="parameters" element="tns:getPolicyByIdResponse"/>
  </message>
  <message name="addPolicy">
    <part name="parameters" element="tns:addPolicy"/>
  </message>
  <message name="addPolicyResponse">
    <part name="parameters" element="tns:addPolicyResponse"/>
  </message>
  <message name="deletePolicies">
    <part name="parameters" element="tns:deletePolicies"/>
  </message>
  <message name="deletePoliciesResponse">
    <part name="parameters" element="tns:deletePoliciesResponse"/>
  </message>
  <message name="getPolicyGroups">
    <part name="parameters" element="tns:getPolicyGroups"/>
  </message>
  <message name="getPolicyGroupsResponse">
    <part name="parameters" element="tns:getPolicyGroupsResponse"/>
  </message>
  <message name="addPolicyGroup">
    <part name="parameters" element="tns:addPolicyGroup"/>
  </message>
  <message name="addPolicyGroupResponse">
    <part name="parameters" element="tns:addPolicyGroupResponse"/>
  </message>
  <message name="updatePolicyAttributes">
    <part name="parameters" element="tns:updatePolicyAttributes"/>
  </message>
  <message name="updatePolicyAttributesResponse">
    <part name="parameters" element="tns:updatePolicyAttributesResponse"/>
  </message>
  <message name="getPolicyGroupByName">
    <part name="parameters" element="tns:getPolicyGroupByName"/>
  </message>
  <message name="getPolicyGroupByNameResponse">
    <part name="parameters" element="tns:getPolicyGroupByNameResponse"/>
  </message>
  <message name="getPolicyGroupById">
    <part name="parameters" element="tns:getPolicyGroupById"/>
  </message>
  <message name="getPolicyGroupByIdResponse">
    <part name="parameters" element="tns:getPolicyGroupByIdResponse"/>
  </message>
  <message name="deletePolicyGroups">
    <part name="parameters" element="tns:deletePolicyGroups"/>
  </message>
  <message name="deletePolicyGroupsResponse">
    <part name="parameters" element="tns:deletePolicyGroupsResponse"/>
  </message>
  <message name="updateGroupAttributes">
    <part name="parameters" element="tns:updateGroupAttributes"/>
  </message>
  <message name="updateGroupAttributesResponse">
    <part name="parameters" element="tns:updateGroupAttributesResponse"/>
  </message>
  <message name="addPolicyUseToGroup">
    <part name="parameters" element="tns:addPolicyUseToGroup"/>
  </message>
  <message name="addPolicyUseToGroupResponse">
    <part name="parameters" element="tns:addPolicyUseToGroupResponse"/>
  </message>
  <message name="removePolicyUseFromGroup">
    <part name="parameters" element="tns:removePolicyUseFromGroup"/>
  </message>
  <message name="removePolicyUseFromGroupResponse">
    <part name="parameters" element="tns:removePolicyUseFromGroupResponse"/>
  </message>
  <message name="getPolicyGroupsByDomain">
    <part name="parameters" element="tns:getPolicyGroupsByDomain"/>
  </message>
  <message name="getPolicyGroupsByDomainResponse">
    <part name="parameters" element="tns:getPolicyGroupsByDomainResponse"/>
  </message>
  <message name="associatePolicyGroupToDomain">
    <part name="parameters" element="tns:associatePolicyGroupToDomain"/>
  </message>
  <message name="associatePolicyGroupToDomainResponse">
    <part name="parameters" element="tns:associatePolicyGroupToDomainResponse"/>
  </message>
  <message name="getPolicyGroupDomainReltns">
    <part name="parameters" element="tns:getPolicyGroupDomainReltns"/>
  </message>
  <message name="getPolicyGroupDomainReltnsResponse">
    <part name="parameters" element="tns:getPolicyGroupDomainReltnsResponse"/>
  </message>
  <portType name="ConfigurationService">
    <operation name="getAddresss">
      <input ns1:Action="urn:GetAddresss" message="tns:getAddresss" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://nhind.org/config/ConfigurationService/getAddresssResponse" message="tns:getAddresssResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns3:Action="http://nhind.org/config/ConfigurationService/getAddresss/Fault/ConfigurationServiceException" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addAddress">
      <input ns4:Action="urn:AddAddress" message="tns:addAddress" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns5:Action="http://nhind.org/config/ConfigurationService/addAddressResponse" message="tns:addAddressResponse" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns6:Action="http://nhind.org/config/ConfigurationService/addAddress/Fault/ConfigurationServiceException" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateAddress">
      <input ns7:Action="urn:UpdateAddress" message="tns:updateAddress" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://nhind.org/config/ConfigurationService/updateAddressResponse" message="tns:updateAddressResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns9:Action="http://nhind.org/config/ConfigurationService/updateAddress/Fault/ConfigurationServiceException" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getAddressCount">
      <input ns10:Action="urn:GetAddressCount" message="tns:getAddressCount" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns11:Action="http://nhind.org/config/ConfigurationService/getAddressCountResponse" message="tns:getAddressCountResponse" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns12:Action="http://nhind.org/config/ConfigurationService/getAddressCount/Fault/ConfigurationServiceException" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeAddress">
      <input ns13:Action="urn:RemoveAddress" message="tns:removeAddress" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://nhind.org/config/ConfigurationService/removeAddressResponse" message="tns:removeAddressResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns15:Action="http://nhind.org/config/ConfigurationService/removeAddress/Fault/ConfigurationServiceException" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listAddresss">
      <input ns16:Action="urn:ListAddresss" message="tns:listAddresss" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns17:Action="http://nhind.org/config/ConfigurationService/listAddresssResponse" message="tns:listAddresssResponse" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns18:Action="http://nhind.org/config/ConfigurationService/listAddresss/Fault/ConfigurationServiceException" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addDomain">
      <input ns19:Action="urn:AddDomain" message="tns:addDomain" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns20:Action="http://nhind.org/config/ConfigurationService/addDomainResponse" message="tns:addDomainResponse" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns21:Action="http://nhind.org/config/ConfigurationService/addDomain/Fault/ConfigurationServiceException" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateDomain">
      <input ns22:Action="urn:UpdateDomain" message="tns:updateDomain" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns23:Action="http://nhind.org/config/ConfigurationService/updateDomainResponse" message="tns:updateDomainResponse" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns24:Action="http://nhind.org/config/ConfigurationService/updateDomain/Fault/ConfigurationServiceException" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDomainCount">
      <input ns25:Action="urn:GetDomainCount" message="tns:getDomainCount" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns26:Action="http://nhind.org/config/ConfigurationService/getDomainCountResponse" message="tns:getDomainCountResponse" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns27:Action="http://nhind.org/config/ConfigurationService/getDomainCount/Fault/ConfigurationServiceException" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDomains">
      <input ns28:Action="urn:GetDomains" message="tns:getDomains" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns29:Action="http://nhind.org/config/ConfigurationService/getDomainsResponse" message="tns:getDomainsResponse" xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns30:Action="http://nhind.org/config/ConfigurationService/getDomains/Fault/ConfigurationServiceException" xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeDomain">
      <input ns31:Action="urn:RemoveDomain" message="tns:removeDomain" xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns32:Action="http://nhind.org/config/ConfigurationService/removeDomainResponse" message="tns:removeDomainResponse" xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns33:Action="http://nhind.org/config/ConfigurationService/removeDomain/Fault/ConfigurationServiceException" xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeDomainById">
      <input ns34:Action="urn:RemoveDomainById" message="tns:removeDomainById" xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns35:Action="http://nhind.org/config/ConfigurationService/removeDomainByIdResponse" message="tns:removeDomainByIdResponse" xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns36:Action="http://nhind.org/config/ConfigurationService/removeDomainById/Fault/ConfigurationServiceException" xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listDomains">
      <input ns37:Action="urn:listDomains" message="tns:listDomains" xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns38:Action="http://nhind.org/config/ConfigurationService/listDomainsResponse" message="tns:listDomainsResponse" xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns39:Action="http://nhind.org/config/ConfigurationService/listDomains/Fault/ConfigurationServiceException" xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="searchDomain">
      <input ns40:Action="urn:SearchDomain" message="tns:searchDomain" xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns41:Action="http://nhind.org/config/ConfigurationService/searchDomainResponse" message="tns:searchDomainResponse" xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDomain">
      <input ns42:Action="urn:GetDomain" message="tns:getDomain" xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns43:Action="http://nhind.org/config/ConfigurationService/getDomainResponse" message="tns:getDomainResponse" xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="contains">
      <input ns44:Action="urn:Contains" message="tns:contains" xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns45:Action="http://nhind.org/config/ConfigurationService/containsResponse" message="tns:containsResponse" xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCertificates">
      <input ns46:Action="urn:GetCertificates" message="tns:getCertificates" xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns47:Action="http://nhind.org/config/ConfigurationService/getCertificatesResponse" message="tns:getCertificatesResponse" xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns48:Action="http://nhind.org/config/ConfigurationService/getCertificates/Fault/ConfigurationServiceException" xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addCertificates">
      <input ns49:Action="urn:AddCertificates" message="tns:addCertificates" xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns50:Action="http://nhind.org/config/ConfigurationService/addCertificatesResponse" message="tns:addCertificatesResponse" xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns51:Action="http://nhind.org/config/ConfigurationService/addCertificates/Fault/ConfigurationServiceException" xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCertificate">
      <input ns52:Action="urn:GetCertificate" message="tns:getCertificate" xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns53:Action="http://nhind.org/config/ConfigurationService/getCertificateResponse" message="tns:getCertificateResponse" xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns54:Action="http://nhind.org/config/ConfigurationService/getCertificate/Fault/ConfigurationServiceException" xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listCertificates">
      <input ns55:Action="urn:ListCertificates" message="tns:listCertificates" xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns56:Action="http://nhind.org/config/ConfigurationService/listCertificatesResponse" message="tns:listCertificatesResponse" xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns57:Action="http://nhind.org/config/ConfigurationService/listCertificates/Fault/ConfigurationServiceException" xmlns:ns57="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setCertificateStatus">
      <input ns58:Action="urn:SetCertificateStatus" message="tns:setCertificateStatus" xmlns:ns58="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns59:Action="http://nhind.org/config/ConfigurationService/setCertificateStatusResponse" message="tns:setCertificateStatusResponse" xmlns:ns59="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns60:Action="http://nhind.org/config/ConfigurationService/setCertificateStatus/Fault/ConfigurationServiceException" xmlns:ns60="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeCertificates">
      <input ns61:Action="urn:RemoveCertificates" message="tns:removeCertificates" xmlns:ns61="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns62:Action="http://nhind.org/config/ConfigurationService/removeCertificatesResponse" message="tns:removeCertificatesResponse" xmlns:ns62="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns63:Action="http://nhind.org/config/ConfigurationService/removeCertificates/Fault/ConfigurationServiceException" xmlns:ns63="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getCertificatesForOwner">
      <input ns64:Action="urn:GetCertificatesForOwner" message="tns:getCertificatesForOwner" xmlns:ns64="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns65:Action="http://nhind.org/config/ConfigurationService/getCertificatesForOwnerResponse" message="tns:getCertificatesForOwnerResponse" xmlns:ns65="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns66:Action="http://nhind.org/config/ConfigurationService/getCertificatesForOwner/Fault/ConfigurationServiceException" xmlns:ns66="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setCertificateStatusForOwner">
      <input ns67:Action="urn:SetCertificateStatusForOwner" message="tns:setCertificateStatusForOwner" xmlns:ns67="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns68:Action="http://nhind.org/config/ConfigurationService/setCertificateStatusForOwnerResponse" message="tns:setCertificateStatusForOwnerResponse" xmlns:ns68="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns69:Action="http://nhind.org/config/ConfigurationService/setCertificateStatusForOwner/Fault/ConfigurationServiceException" xmlns:ns69="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeCertificatesForOwner">
      <input ns70:Action="urn:RemoveCertificatesForOwner" message="tns:removeCertificatesForOwner" xmlns:ns70="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns71:Action="http://nhind.org/config/ConfigurationService/removeCertificatesForOwnerResponse" message="tns:removeCertificatesForOwnerResponse" xmlns:ns71="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns72:Action="http://nhind.org/config/ConfigurationService/removeCertificatesForOwner/Fault/ConfigurationServiceException" xmlns:ns72="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addAnchor">
      <input ns73:Action="urn:AddAnchor" message="tns:addAnchor" xmlns:ns73="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns74:Action="http://nhind.org/config/ConfigurationService/addAnchorResponse" message="tns:addAnchorResponse" xmlns:ns74="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns75:Action="http://nhind.org/config/ConfigurationService/addAnchor/Fault/ConfigurationServiceException" xmlns:ns75="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeAnchors">
      <input ns76:Action="urn:RemoveAnchors" message="tns:removeAnchors" xmlns:ns76="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns77:Action="http://nhind.org/config/ConfigurationService/removeAnchorsResponse" message="tns:removeAnchorsResponse" xmlns:ns77="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns78:Action="http://nhind.org/config/ConfigurationService/removeAnchors/Fault/ConfigurationServiceException" xmlns:ns78="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getAnchor">
      <input ns79:Action="urn:GetAnchor" message="tns:getAnchor" xmlns:ns79="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns80:Action="http://nhind.org/config/ConfigurationService/getAnchorResponse" message="tns:getAnchorResponse" xmlns:ns80="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns81:Action="http://nhind.org/config/ConfigurationService/getAnchor/Fault/ConfigurationServiceException" xmlns:ns81="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getAnchors">
      <input ns82:Action="urn:GetAnchors" message="tns:getAnchors" xmlns:ns82="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns83:Action="http://nhind.org/config/ConfigurationService/getAnchorsResponse" message="tns:getAnchorsResponse" xmlns:ns83="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns84:Action="http://nhind.org/config/ConfigurationService/getAnchors/Fault/ConfigurationServiceException" xmlns:ns84="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listAnchors">
      <input ns85:Action="urn:ListAnchors" message="tns:listAnchors" xmlns:ns85="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns86:Action="http://nhind.org/config/ConfigurationService/listAnchorsResponse" message="tns:listAnchorsResponse" xmlns:ns86="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns87:Action="http://nhind.org/config/ConfigurationService/listAnchors/Fault/ConfigurationServiceException" xmlns:ns87="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setAnchorStatusForOwner">
      <input ns88:Action="urn:SetAnchorStatusForOwner" message="tns:setAnchorStatusForOwner" xmlns:ns88="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns89:Action="http://nhind.org/config/ConfigurationService/setAnchorStatusForOwnerResponse" message="tns:setAnchorStatusForOwnerResponse" xmlns:ns89="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns90:Action="http://nhind.org/config/ConfigurationService/setAnchorStatusForOwner/Fault/ConfigurationServiceException" xmlns:ns90="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeAnchorsForOwner">
      <input ns91:Action="urn:RemoveAnchorsForOwner" message="tns:removeAnchorsForOwner" xmlns:ns91="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns92:Action="http://nhind.org/config/ConfigurationService/removeAnchorsForOwnerResponse" message="tns:removeAnchorsForOwnerResponse" xmlns:ns92="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns93:Action="http://nhind.org/config/ConfigurationService/removeAnchorsForOwner/Fault/ConfigurationServiceException" xmlns:ns93="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getAnchorsForOwner">
      <input ns94:Action="urn:GetAnchorsForOwner" message="tns:getAnchorsForOwner" xmlns:ns94="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns95:Action="http://nhind.org/config/ConfigurationService/getAnchorsForOwnerResponse" message="tns:getAnchorsForOwnerResponse" xmlns:ns95="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns96:Action="http://nhind.org/config/ConfigurationService/getAnchorsForOwner/Fault/ConfigurationServiceException" xmlns:ns96="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getIncomingAnchors">
      <input ns97:Action="urn:GetIncomingAnchors" message="tns:getIncomingAnchors" xmlns:ns97="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns98:Action="http://nhind.org/config/ConfigurationService/getIncomingAnchorsResponse" message="tns:getIncomingAnchorsResponse" xmlns:ns98="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns99:Action="http://nhind.org/config/ConfigurationService/getIncomingAnchors/Fault/ConfigurationServiceException" xmlns:ns99="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getOutgoingAnchors">
      <input ns100:Action="urn:GetOutgoingAnchors" message="tns:getOutgoingAnchors" xmlns:ns100="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns101:Action="http://nhind.org/config/ConfigurationService/getOutgoingAnchorsResponse" message="tns:getOutgoingAnchorsResponse" xmlns:ns101="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns102:Action="http://nhind.org/config/ConfigurationService/getOutgoingAnchors/Fault/ConfigurationServiceException" xmlns:ns102="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addSetting">
      <input ns103:Action="urn:AddSetting" message="tns:addSetting" xmlns:ns103="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns104:Action="http://nhind.org/config/ConfigurationService/addSettingResponse" message="tns:addSettingResponse" xmlns:ns104="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns105:Action="http://nhind.org/config/ConfigurationService/addSetting/Fault/ConfigurationServiceException" xmlns:ns105="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getAllSettings">
      <input ns106:Action="urn:GetAllSettings" message="tns:getAllSettings" xmlns:ns106="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns107:Action="http://nhind.org/config/ConfigurationService/getAllSettingsResponse" message="tns:getAllSettingsResponse" xmlns:ns107="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns108:Action="http://nhind.org/config/ConfigurationService/getAllSettings/Fault/ConfigurationServiceException" xmlns:ns108="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getSettingByName">
      <input ns109:Action="urn:GetSettingByName" message="tns:getSettingByName" xmlns:ns109="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns110:Action="http://nhind.org/config/ConfigurationService/getSettingByNameResponse" message="tns:getSettingByNameResponse" xmlns:ns110="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns111:Action="http://nhind.org/config/ConfigurationService/getSettingByName/Fault/ConfigurationServiceException" xmlns:ns111="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateSetting">
      <input ns112:Action="urn:UpdateSetting" message="tns:updateSetting" xmlns:ns112="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns113:Action="http://nhind.org/config/ConfigurationService/updateSettingResponse" message="tns:updateSettingResponse" xmlns:ns113="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns114:Action="http://nhind.org/config/ConfigurationService/updateSetting/Fault/ConfigurationServiceException" xmlns:ns114="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="deleteSetting">
      <input ns115:Action="urn:DeleteSetting" message="tns:deleteSetting" xmlns:ns115="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns116:Action="http://nhind.org/config/ConfigurationService/deleteSettingResponse" message="tns:deleteSettingResponse" xmlns:ns116="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns117:Action="http://nhind.org/config/ConfigurationService/deleteSetting/Fault/ConfigurationServiceException" xmlns:ns117="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getSettingsByNames">
      <input ns118:Action="urn:GetSettingsByNames" message="tns:getSettingsByNames" xmlns:ns118="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns119:Action="http://nhind.org/config/ConfigurationService/getSettingsByNamesResponse" message="tns:getSettingsByNamesResponse" xmlns:ns119="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns120:Action="http://nhind.org/config/ConfigurationService/getSettingsByNames/Fault/ConfigurationServiceException" xmlns:ns120="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addDNS">
      <input ns121:Action="urn:AddDNS" message="tns:addDNS" xmlns:ns121="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns122:Action="http://nhind.org/config/ConfigurationService/addDNSResponse" message="tns:addDNSResponse" xmlns:ns122="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns123:Action="http://nhind.org/config/ConfigurationService/addDNS/Fault/ConfigurationServiceException" xmlns:ns123="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDNSByName">
      <input ns124:Action="urn:GetDNSByName" message="tns:getDNSByName" xmlns:ns124="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns125:Action="http://nhind.org/config/ConfigurationService/getDNSByNameResponse" message="tns:getDNSByNameResponse" xmlns:ns125="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns126:Action="http://nhind.org/config/ConfigurationService/getDNSByName/Fault/ConfigurationServiceException" xmlns:ns126="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDNSByRecordId">
      <input ns127:Action="urn:GetDNSByRecordId" message="tns:getDNSByRecordId" xmlns:ns127="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns128:Action="http://nhind.org/config/ConfigurationService/getDNSByRecordIdResponse" message="tns:getDNSByRecordIdResponse" xmlns:ns128="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns129:Action="http://nhind.org/config/ConfigurationService/getDNSByRecordId/Fault/ConfigurationServiceException" xmlns:ns129="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDNSByType">
      <input ns130:Action="urn:GetDNSByType" message="tns:getDNSByType" xmlns:ns130="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns131:Action="http://nhind.org/config/ConfigurationService/getDNSByTypeResponse" message="tns:getDNSByTypeResponse" xmlns:ns131="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns132:Action="http://nhind.org/config/ConfigurationService/getDNSByType/Fault/ConfigurationServiceException" xmlns:ns132="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDNSCount">
      <input ns133:Action="urn:GetDNSCount" message="tns:getDNSCount" xmlns:ns133="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns134:Action="http://nhind.org/config/ConfigurationService/getDNSCountResponse" message="tns:getDNSCountResponse" xmlns:ns134="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns135:Action="http://nhind.org/config/ConfigurationService/getDNSCount/Fault/ConfigurationServiceException" xmlns:ns135="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeDNS">
      <input ns136:Action="urn:RemoveDNS" message="tns:removeDNS" xmlns:ns136="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns137:Action="http://nhind.org/config/ConfigurationService/removeDNSResponse" message="tns:removeDNSResponse" xmlns:ns137="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns138:Action="http://nhind.org/config/ConfigurationService/removeDNS/Fault/ConfigurationServiceException" xmlns:ns138="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateDNS">
      <input ns139:Action="urn:UpdateDNS" message="tns:updateDNS" xmlns:ns139="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns140:Action="http://nhind.org/config/ConfigurationService/updateDNSResponse" message="tns:updateDNSResponse" xmlns:ns140="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns141:Action="http://nhind.org/config/ConfigurationService/updateDNS/Fault/ConfigurationServiceException" xmlns:ns141="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDNSByNameAndType">
      <input ns142:Action="urn:GetDNSByNameAndType" message="tns:getDNSByNameAndType" xmlns:ns142="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns143:Action="http://nhind.org/config/ConfigurationService/getDNSByNameAndTypeResponse" message="tns:getDNSByNameAndTypeResponse" xmlns:ns143="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns144:Action="http://nhind.org/config/ConfigurationService/getDNSByNameAndType/Fault/ConfigurationServiceException" xmlns:ns144="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getDNSByRecordIds">
      <input ns145:Action="urn:GetDNSByRecordIds" message="tns:getDNSByRecordIds" xmlns:ns145="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns146:Action="http://nhind.org/config/ConfigurationService/getDNSByRecordIdsResponse" message="tns:getDNSByRecordIdsResponse" xmlns:ns146="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns147:Action="http://nhind.org/config/ConfigurationService/getDNSByRecordIds/Fault/ConfigurationServiceException" xmlns:ns147="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeDNSByRecordId">
      <input ns148:Action="urn:RemoveDNSByRecordId" message="tns:removeDNSByRecordId" xmlns:ns148="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns149:Action="http://nhind.org/config/ConfigurationService/removeDNSByRecordIdResponse" message="tns:removeDNSByRecordIdResponse" xmlns:ns149="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns150:Action="http://nhind.org/config/ConfigurationService/removeDNSByRecordId/Fault/ConfigurationServiceException" xmlns:ns150="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeDNSByRecordIds">
      <input ns151:Action="urn:RemoveDNSByRecordIds" message="tns:removeDNSByRecordIds" xmlns:ns151="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns152:Action="http://nhind.org/config/ConfigurationService/removeDNSByRecordIdsResponse" message="tns:removeDNSByRecordIdsResponse" xmlns:ns152="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns153:Action="http://nhind.org/config/ConfigurationService/removeDNSByRecordIds/Fault/ConfigurationServiceException" xmlns:ns153="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateTrustBundleSigningCertificate">
      <input ns154:Action="urn:UpdateTrustBundleSigningCertificate" message="tns:updateTrustBundleSigningCertificate" xmlns:ns154="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns155:Action="http://nhind.org/config/ConfigurationService/updateTrustBundleSigningCertificateResponse" message="tns:updateTrustBundleSigningCertificateResponse" xmlns:ns155="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns156:Action="http://nhind.org/config/ConfigurationService/updateTrustBundleSigningCertificate/Fault/ConfigurationServiceException" xmlns:ns156="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="disassociateTrustBundleFromDomain">
      <input ns157:Action="urn:DisassociateTrustBundleFromDomain" message="tns:disassociateTrustBundleFromDomain" xmlns:ns157="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns158:Action="http://nhind.org/config/ConfigurationService/disassociateTrustBundleFromDomainResponse" message="tns:disassociateTrustBundleFromDomainResponse" xmlns:ns158="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns159:Action="http://nhind.org/config/ConfigurationService/disassociateTrustBundleFromDomain/Fault/ConfigurationServiceException" xmlns:ns159="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="disassociateTrustBundlesFromDomain">
      <input ns160:Action="urn:DisassociateTrustBundlesFromDomain" message="tns:disassociateTrustBundlesFromDomain" xmlns:ns160="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns161:Action="http://nhind.org/config/ConfigurationService/disassociateTrustBundlesFromDomainResponse" message="tns:disassociateTrustBundlesFromDomainResponse" xmlns:ns161="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns162:Action="http://nhind.org/config/ConfigurationService/disassociateTrustBundlesFromDomain/Fault/ConfigurationServiceException" xmlns:ns162="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="disassociateTrustBundleFromDomains">
      <input ns163:Action="urn:DisassociateTrustBundleFromDomains" message="tns:disassociateTrustBundleFromDomains" xmlns:ns163="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns164:Action="http://nhind.org/config/ConfigurationService/disassociateTrustBundleFromDomainsResponse" message="tns:disassociateTrustBundleFromDomainsResponse" xmlns:ns164="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns165:Action="http://nhind.org/config/ConfigurationService/disassociateTrustBundleFromDomains/Fault/ConfigurationServiceException" xmlns:ns165="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getTrustBundles">
      <input ns166:Action="urn:GetTrustBundles" message="tns:getTrustBundles" xmlns:ns166="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns167:Action="http://nhind.org/config/ConfigurationService/getTrustBundlesResponse" message="tns:getTrustBundlesResponse" xmlns:ns167="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns168:Action="http://nhind.org/config/ConfigurationService/getTrustBundles/Fault/ConfigurationServiceException" xmlns:ns168="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addTrustBundle">
      <input ns169:Action="urn:AddTrustBundle" message="tns:addTrustBundle" xmlns:ns169="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns170:Action="http://nhind.org/config/ConfigurationService/addTrustBundleResponse" message="tns:addTrustBundleResponse" xmlns:ns170="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns171:Action="http://nhind.org/config/ConfigurationService/addTrustBundle/Fault/ConfigurationServiceException" xmlns:ns171="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getTrustBundleByName">
      <input ns172:Action="urn:GetTrustBundleByName" message="tns:getTrustBundleByName" xmlns:ns172="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns173:Action="http://nhind.org/config/ConfigurationService/getTrustBundleByNameResponse" message="tns:getTrustBundleByNameResponse" xmlns:ns173="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns174:Action="http://nhind.org/config/ConfigurationService/getTrustBundleByName/Fault/ConfigurationServiceException" xmlns:ns174="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getTrustBundleById">
      <input ns175:Action="urn:GetTrustBundleById" message="tns:getTrustBundleById" xmlns:ns175="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns176:Action="http://nhind.org/config/ConfigurationService/getTrustBundleByIdResponse" message="tns:getTrustBundleByIdResponse" xmlns:ns176="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns177:Action="http://nhind.org/config/ConfigurationService/getTrustBundleById/Fault/ConfigurationServiceException" xmlns:ns177="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="refreshTrustBundle">
      <input ns178:Action="urn:RefreshTrustBundle" message="tns:refreshTrustBundle" xmlns:ns178="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns179:Action="http://nhind.org/config/ConfigurationService/refreshTrustBundleResponse" message="tns:refreshTrustBundleResponse" xmlns:ns179="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns180:Action="http://nhind.org/config/ConfigurationService/refreshTrustBundle/Fault/ConfigurationServiceException" xmlns:ns180="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateLastUpdateError">
      <input ns181:Action="urn:UpdateLastUpdateError" message="tns:updateLastUpdateError" xmlns:ns181="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns182:Action="http://nhind.org/config/ConfigurationService/updateLastUpdateErrorResponse" message="tns:updateLastUpdateErrorResponse" xmlns:ns182="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns183:Action="http://nhind.org/config/ConfigurationService/updateLastUpdateError/Fault/ConfigurationServiceException" xmlns:ns183="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="deleteTrustBundles">
      <input ns184:Action="urn:DeleteTrustBundles" message="tns:deleteTrustBundles" xmlns:ns184="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns185:Action="http://nhind.org/config/ConfigurationService/deleteTrustBundlesResponse" message="tns:deleteTrustBundlesResponse" xmlns:ns185="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns186:Action="http://nhind.org/config/ConfigurationService/deleteTrustBundles/Fault/ConfigurationServiceException" xmlns:ns186="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getTrustBundlesByDomain">
      <input ns187:Action="urn:GetTrustBundlesByDomain" message="tns:getTrustBundlesByDomain" xmlns:ns187="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns188:Action="http://nhind.org/config/ConfigurationService/getTrustBundlesByDomainResponse" message="tns:getTrustBundlesByDomainResponse" xmlns:ns188="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns189:Action="http://nhind.org/config/ConfigurationService/getTrustBundlesByDomain/Fault/ConfigurationServiceException" xmlns:ns189="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateTrustBundleAttributes">
      <input ns190:Action="urn:UpdateTrustBundleAttributes" message="tns:updateTrustBundleAttributes" xmlns:ns190="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns191:Action="http://nhind.org/config/ConfigurationService/updateTrustBundleAttributesResponse" message="tns:updateTrustBundleAttributesResponse" xmlns:ns191="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns192:Action="http://nhind.org/config/ConfigurationService/updateTrustBundleAttributes/Fault/ConfigurationServiceException" xmlns:ns192="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="associateTrustBundleToDomain">
      <input ns193:Action="urn:AssociateTrustBundleToDomain" message="tns:associateTrustBundleToDomain" xmlns:ns193="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns194:Action="http://nhind.org/config/ConfigurationService/associateTrustBundleToDomainResponse" message="tns:associateTrustBundleToDomainResponse" xmlns:ns194="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns195:Action="http://nhind.org/config/ConfigurationService/associateTrustBundleToDomain/Fault/ConfigurationServiceException" xmlns:ns195="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="disassociatePolicyGroupFromDomain">
      <input ns196:Action="urn:DisassociatePolicyGroupFromDomain" message="tns:disassociatePolicyGroupFromDomain" xmlns:ns196="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns197:Action="http://nhind.org/config/ConfigurationService/disassociatePolicyGroupFromDomainResponse" message="tns:disassociatePolicyGroupFromDomainResponse" xmlns:ns197="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns198:Action="http://nhind.org/config/ConfigurationService/disassociatePolicyGroupFromDomain/Fault/ConfigurationServiceException" xmlns:ns198="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="disassociatePolicyGroupsFromDomain">
      <input ns199:Action="urn:DisassociatePolicyGroupsFromDomain" message="tns:disassociatePolicyGroupsFromDomain" xmlns:ns199="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns200:Action="http://nhind.org/config/ConfigurationService/disassociatePolicyGroupsFromDomainResponse" message="tns:disassociatePolicyGroupsFromDomainResponse" xmlns:ns200="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns201:Action="http://nhind.org/config/ConfigurationService/disassociatePolicyGroupsFromDomain/Fault/ConfigurationServiceException" xmlns:ns201="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="disassociatePolicyGroupFromDomains">
      <input ns202:Action="urn:DisassociatePolicyGroupFromDomains" message="tns:disassociatePolicyGroupFromDomains" xmlns:ns202="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns203:Action="http://nhind.org/config/ConfigurationService/disassociatePolicyGroupFromDomainsResponse" message="tns:disassociatePolicyGroupFromDomainsResponse" xmlns:ns203="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns204:Action="http://nhind.org/config/ConfigurationService/disassociatePolicyGroupFromDomains/Fault/ConfigurationServiceException" xmlns:ns204="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPolicies">
      <input ns205:Action="urn:GetPolicies" message="tns:getPolicies" xmlns:ns205="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns206:Action="http://nhind.org/config/ConfigurationService/getPoliciesResponse" message="tns:getPoliciesResponse" xmlns:ns206="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns207:Action="http://nhind.org/config/ConfigurationService/getPolicies/Fault/ConfigurationServiceException" xmlns:ns207="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPolicyByName">
      <input ns208:Action="urn:GetPolicyByName" message="tns:getPolicyByName" xmlns:ns208="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns209:Action="http://nhind.org/config/ConfigurationService/getPolicyByNameResponse" message="tns:getPolicyByNameResponse" xmlns:ns209="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns210:Action="http://nhind.org/config/ConfigurationService/getPolicyByName/Fault/ConfigurationServiceException" xmlns:ns210="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPolicyById">
      <input ns211:Action="urn:GetPolicyById" message="tns:getPolicyById" xmlns:ns211="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns212:Action="http://nhind.org/config/ConfigurationService/getPolicyByIdResponse" message="tns:getPolicyByIdResponse" xmlns:ns212="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns213:Action="http://nhind.org/config/ConfigurationService/getPolicyById/Fault/ConfigurationServiceException" xmlns:ns213="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addPolicy">
      <input ns214:Action="urn:AddPolicy" message="tns:addPolicy" xmlns:ns214="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns215:Action="http://nhind.org/config/ConfigurationService/addPolicyResponse" message="tns:addPolicyResponse" xmlns:ns215="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns216:Action="http://nhind.org/config/ConfigurationService/addPolicy/Fault/ConfigurationServiceException" xmlns:ns216="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="deletePolicies">
      <input ns217:Action="urn:DeletePolicies" message="tns:deletePolicies" xmlns:ns217="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns218:Action="http://nhind.org/config/ConfigurationService/deletePoliciesResponse" message="tns:deletePoliciesResponse" xmlns:ns218="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns219:Action="http://nhind.org/config/ConfigurationService/deletePolicies/Fault/ConfigurationServiceException" xmlns:ns219="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPolicyGroups">
      <input ns220:Action="urn:GetPolicyGroups" message="tns:getPolicyGroups" xmlns:ns220="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns221:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupsResponse" message="tns:getPolicyGroupsResponse" xmlns:ns221="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns222:Action="http://nhind.org/config/ConfigurationService/getPolicyGroups/Fault/ConfigurationServiceException" xmlns:ns222="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addPolicyGroup">
      <input ns223:Action="urn:AddPolicyGroup" message="tns:addPolicyGroup" xmlns:ns223="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns224:Action="http://nhind.org/config/ConfigurationService/addPolicyGroupResponse" message="tns:addPolicyGroupResponse" xmlns:ns224="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns225:Action="http://nhind.org/config/ConfigurationService/addPolicyGroup/Fault/ConfigurationServiceException" xmlns:ns225="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updatePolicyAttributes">
      <input ns226:Action="urn:UpdatePolicyAttributes" message="tns:updatePolicyAttributes" xmlns:ns226="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns227:Action="http://nhind.org/config/ConfigurationService/updatePolicyAttributesResponse" message="tns:updatePolicyAttributesResponse" xmlns:ns227="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns228:Action="http://nhind.org/config/ConfigurationService/updatePolicyAttributes/Fault/ConfigurationServiceException" xmlns:ns228="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPolicyGroupByName">
      <input ns229:Action="urn:GetPolicyGroupByName" message="tns:getPolicyGroupByName" xmlns:ns229="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns230:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupByNameResponse" message="tns:getPolicyGroupByNameResponse" xmlns:ns230="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns231:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupByName/Fault/ConfigurationServiceException" xmlns:ns231="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPolicyGroupById">
      <input ns232:Action="urn:GetPolicyGroupById" message="tns:getPolicyGroupById" xmlns:ns232="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns233:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupByIdResponse" message="tns:getPolicyGroupByIdResponse" xmlns:ns233="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns234:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupById/Fault/ConfigurationServiceException" xmlns:ns234="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="deletePolicyGroups">
      <input ns235:Action="urn:DeletePolicyGroups" message="tns:deletePolicyGroups" xmlns:ns235="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns236:Action="http://nhind.org/config/ConfigurationService/deletePolicyGroupsResponse" message="tns:deletePolicyGroupsResponse" xmlns:ns236="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns237:Action="http://nhind.org/config/ConfigurationService/deletePolicyGroups/Fault/ConfigurationServiceException" xmlns:ns237="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="updateGroupAttributes">
      <input ns238:Action="urn:UpdateGroupAttributes" message="tns:updateGroupAttributes" xmlns:ns238="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns239:Action="http://nhind.org/config/ConfigurationService/updateGroupAttributesResponse" message="tns:updateGroupAttributesResponse" xmlns:ns239="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns240:Action="http://nhind.org/config/ConfigurationService/updateGroupAttributes/Fault/ConfigurationServiceException" xmlns:ns240="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="addPolicyUseToGroup">
      <input ns241:Action="urn:AddPolicyUseToGroup" message="tns:addPolicyUseToGroup" xmlns:ns241="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns242:Action="http://nhind.org/config/ConfigurationService/addPolicyUseToGroupResponse" message="tns:addPolicyUseToGroupResponse" xmlns:ns242="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns243:Action="http://nhind.org/config/ConfigurationService/addPolicyUseToGroup/Fault/ConfigurationServiceException" xmlns:ns243="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removePolicyUseFromGroup">
      <input ns244:Action="urn:RemovePolicyUseFromGroup" message="tns:removePolicyUseFromGroup" xmlns:ns244="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns245:Action="http://nhind.org/config/ConfigurationService/removePolicyUseFromGroupResponse" message="tns:removePolicyUseFromGroupResponse" xmlns:ns245="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns246:Action="http://nhind.org/config/ConfigurationService/removePolicyUseFromGroup/Fault/ConfigurationServiceException" xmlns:ns246="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPolicyGroupsByDomain">
      <input ns247:Action="urn:GetPolicyGroupsByDomain" message="tns:getPolicyGroupsByDomain" xmlns:ns247="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns248:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupsByDomainResponse" message="tns:getPolicyGroupsByDomainResponse" xmlns:ns248="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns249:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupsByDomain/Fault/ConfigurationServiceException" xmlns:ns249="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="associatePolicyGroupToDomain">
      <input ns250:Action="urn:AssociatePolicyGroupToDomain" message="tns:associatePolicyGroupToDomain" xmlns:ns250="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns251:Action="http://nhind.org/config/ConfigurationService/associatePolicyGroupToDomainResponse" message="tns:associatePolicyGroupToDomainResponse" xmlns:ns251="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns252:Action="http://nhind.org/config/ConfigurationService/associatePolicyGroupToDomain/Fault/ConfigurationServiceException" xmlns:ns252="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getPolicyGroupDomainReltns">
      <input ns253:Action="urn:GetPolicyGroupDomainReltns" message="tns:getPolicyGroupDomainReltns" xmlns:ns253="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns254:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupDomainReltnsResponse" message="tns:getPolicyGroupDomainReltnsResponse" xmlns:ns254="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException" ns255:Action="http://nhind.org/config/ConfigurationService/getPolicyGroupDomainReltns/Fault/ConfigurationServiceException" xmlns:ns255="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

